html, body {
    overflow-x: hidden; /* devido à fita adesiva sair do container, precisei esconder a barra de rolagem na horizontal */
}
article p {
    color: #000;
    font: 1.2rem/1.5 Mali, cursive;
}
a,
a:focus,
a.btn.seguirPagina:focus,
a.btn.voltarPagina:focus {
    box-shadow: none;
    outline: 0;
}
h1 {
    text-align: center;
}
article {
    margin: 0 auto;
    position: absolute;
    top: 200px;
    width: 100%;
}
.temaQuiz {
    background: url(../img/papel_craft.png) no-repeat center top;
            filter: drop-shadow(0 6px 3px rgba(0,0,0,.8));
    -webkit-filter: drop-shadow(0 6px 3px rgba(0,0,0,.8));
    height: 200px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.temaQuiz h1 {
    color: #6c4a1d;
    display: flex;
    flex-direction: column;
    font-family: 'Special Elite', cursive;
    height: 140px;
    justify-content: center;
}
.tituloQuiz {
    color: #fff;
    font-family: 'Arial Black', Candal, sans-serif;
    margin: 3rem 0 4rem;
    text-shadow: 2px 2px 1px #000;
}
.perguntaQuiz {
    background: #fff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7f7f7, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7f7f7, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
       -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
    border: 0;
    border-left: 30px solid transparent;
            border-image: url(../img/tira_papel.png) 0 0 0 30 repeat;
         -o-border-image: url(../img/tira_papel.png) 0 0 0 30 repeat; /* Opera 11-12.1 */
    -webkit-border-image: url(../img/tira_papel.png) 0 0 0 30 repeat; /* Safari 3.1-5 */
            filter: drop-shadow(4px 0 3px rgba(0,0,0,.8));
    -webkit-filter: drop-shadow(4px 0 3px rgba(0,0,0,.8));
    margin: 2rem auto;
    max-width: 740px;
    padding: 40px 28px 40px 40px;
}
.fita-pergunta,
.fita-resposta {
    background-color: rgba(240,238,240,.9);
    display: block;
    height: 30px;
    width: 120px;
    z-index: 2;
}
.fita-pergunta.fita1 {
    margin: -30px 0 0 -100px;
    position: absolute;
    transform: rotate(140deg);
}
.fita-pergunta.fita2 {
    margin: 10px 0 0 590px;
    position: absolute;
    transform: rotate(155deg);
}
.respostaQuiz {
    background-color: #fff;
            background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
       -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
    border: 0;
    border-bottom: 18px solid transparent;
            border-image: url(../img/borda_papel.png) 0 0 18 0 repeat;
         -o-border-image: url(../img/borda_papel.png) 0 0 18 0 repeat; /* Opera 11-12.1 */
    -webkit-border-image: url(../img/borda_papel.png) 0 0 18 0 repeat; /* Safari 3.1-5 */
            filter: drop-shadow(3px 4px 3px rgba(0,0,0,.8));
    -webkit-filter: drop-shadow(3px 4px 3px rgba(0,0,0,.8));
    margin: 6rem auto 0;
    max-width: 740px;
    padding: 40px 28px 40px 40px;
}
.respostaQuiz:hover {
    cursor: pointer;
            filter: sepia(1) saturate(3) drop-shadow(3px 4px 3px rgba(0,0,0,.8));
    -webkit-filter: sepia(1) saturate(3) drop-shadow(3px 4px 3px rgba(0,0,0,.8));
}
.fita-resposta {
    margin: -3.4rem 0 0 270px;
    position: absolute;
}
.fita-resposta.fita3 {
    transform: rotate(-2deg);
}
.fita-resposta.fita4 {
    transform: rotate(0deg);
}
.fita-resposta.fita5 {
    transform: rotate(3deg);
}
article footer .btn {
    display: block;
    margin: 4rem auto;
    max-width: 740px;
    text-align: center;
}
.modal {
    margin: 1rem auto 0 .47rem;
}
.modal-body {
    border-radius: 0.25rem 0.25rem 0 0;
    color: #fff;
    font: 700 1.2rem/1.5 Mali, cursive;
    padding-top: 2rem;
    text-align: center;
}
.modal-body.resposta-certa {
    background-color: #7bb650;
}
.modal-body.resposta-errada {
    background-color: #d74747;
}
.btn.seguirPagina,
.btn.voltarPagina {
    color: #007bff;
    margin-top: -1rem;
}
.btn.seguirPagina {
    float: right;
}
.btn.voltarPagina {
    float: left;
}
.btn.disabled.seguirPagina {
    filter: grayscale(.5);
}
.btn.seguirPagina:hover,
.btn.voltarPagina:hover {
    color: #0069d9;
}
