html {
    background: url(../img/daniel-olah-1113181-unsplash.jpg) no-repeat center center fixed;
            background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
    -webkit-background-size: cover;
}
